VITE_SUPABASE_URL=https://sjwmnprpezkjwvibhihp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqd21ucHJwZXprand2aWJoaWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5OTM2OTEsImV4cCI6MjA5NzU2OTY5MX0.DgFzum9lj71fgbuvK2yK535jvKSdefcqZ8kyeEwhW5k
